nav{
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg,#141e30,#243b55);
  padding: 20px;
  color: #fcf8f8;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

nav h1{
  color:#00e5ff;
  font-size:28px;
  text-align: center;
}

nav p{
  margin-top:5px;
  opacity:0.8;
}

nav-item{
  margin: 10px 0;
  font-size:18px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #000000af;
}